<!DOCTYPE html>
<html lang="en">
<head>
    <% include head.ejs %>
    <title><%= title %></title>
    <!--jQuery script-->
    <script src="scripts/main.js"></script>
</head>

<body>

<div id="welcome">
    <p align="center">
        User logged in: <strong><%= user %></strong>
    </p>

    <p align="center">
        <a href="/signout" title="sign out">sign out</a>
    </p>
</div>

<div id="topbox">
    <h1>CrossWord DB</h1>
</div>

<div class="container-fluid">


    <div class="row">
        <form method="post" action="/mainPost">
            <div class="col-xs-4">
                <input type="text" name="question" class="form-control" placeholder="Question"
                       required autofocus="autofocus">
            </div>

            <div class="col-xs-4">
                <input type="text" name="answer" class="form-control" placeholder="Answer" required>
            </div>

            <div class="col-xs-1">
                <input type="submit" class="btn btn-primary" value="Save to DB">
            </div>

            <div class="col-xs-3" id="messages">
                <% if (errorMessage) { %>
                <span id="error"><%= errorMessage %></span>
                <% }else{ %>
                <span id="info"><%= infoMessage %></span>
                <% } %>
            </div>
            <div>
                <span id="ajaxsuccess"></span>
            </div>


        </form>

        <!--<div class="voffset1">-->
        <!--<h3>Your recent entries:</h3>-->
        <!--</div>-->

        <div class="col-xs-8">

            <div class="voffset1">
                <!--<ul class="nav nav-pills" role="tablist" id="myTab">-->
                <!--<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"-->
                <!--data-toggle="pill">Your recent entries</a></li>-->
                <!--<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="pill">All-->
                <!--of-->
                <!--your entries</a></li>-->
                <!--</ul>-->

                <ul class="nav nav-pills mytab">
                    <li role="presentation"><a href="#recent" data-toggle="pill">Recent</a></li>
                    <li role="presentation"><a href="#alltime" data-toggle="pill">All time</a></li>
                </ul>
            </div>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="recent">
                    <!--<div class="voffset1">-->
                    <h3>Your recent entries:</h3>
                    <!--</div>-->
                    <div class="table-scroll">
                        <table class="table">
                            <thead class="thead-color">
                            <tr>
                                <th class="col-xs-1">#</th>
                                <th class="col-xs-4">Question</th>
                                <th class="col-xs-4">Answer</th>
                                <!--<th class="col-xs-1"></th>-->
                            </tr>
                            </thead>


                            <!--<%# if (query) { %>-->
                            <!--<%# query.forEach(function(val, i){ %>-->
                            <!--<%# if(val.sessionid === sess){ %>-->
                            <!--<tr class="blink">-->
                            <!--<td class="col-xs-1 hide"><%#= val.entryId %></td>-->
                            <!--<td class="col-xs-1 reverse"><%#= i + 1 %></td>-->
                            <!--<td class="col-xs-5 "><%#= val.question %></td>-->
                            <!--<td class="col-xs-5 "><%#= val.answer %></td>-->
                            <!--<td class="btn-default btn-xs editbtn">Edit</td>-->
                            <!--<td class="btn-default btn-xs deletebtn">Delete</td>-->

                            <tbody id="table-body-recent">

                            <% if (query) { %>
                            <% for(var i = 0, len = query.length;i < len;i++){ %>
                            <% if(query[i].sessionid === sess){ %>
                            <tr class="blink">
                                <td class="col-xs-1 hide"><%= query[i].entryId %></td>
                                <td class="col-xs-1 reverse"><%= i + 1 %></td>
                                <td class="col-xs-5 "><%= query[i].question %></td>
                                <td class="col-xs-5 "><%= query[i].answer %></td>
                                <td class="btn-default btn-xs editbtn">Edit</td>
                                <td class="btn-default btn-xs deletebtn">Delete</td>


                            </tr>
                            <% }}} %>

                            </tbody>
                        </table>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="alltime">
                    <!--<div class="voffset1">-->
                    <h3>All entries by you:</h3>
                    <!--</div>-->
                    <div class="table-scroll">
                        <table class="table">
                            <thead class="thead-color">
                            <tr>
                                <th class="col-xs-1">#</th>
                                <th class="col-xs-4">Question</th>
                                <th class="col-xs-4">Answer</th>
                                <!--<th class="col-xs-1"></th>-->
                            </tr>
                            </thead>

                            <tbody id="table-body-all">

                            <!--<%# if (query) {var len = query.length; %>-->
                            <!--<%# query.forEach(function(val, i){ %>-->
                            <!--<tr class="blink">-->

                            <!--<td class="col-xs-1 hide"><%#= val.entryId %></td>-->
                            <!--<td class="col-xs-1 "><%#= len - i %></td>-->
                            <!--<td class="col-xs-5 "><%#= val.question %></td>-->
                            <!--<td class="col-xs-5 "><%#= val.answer %></td>-->
                            <!--<td class="btn-default btn-xs editbtn">Edit</td>-->
                            <!--<td class="btn-default btn-xs deletebtn">Delete</td>-->

                            <% if (query) { %>
                            <% for(var i = 0, len = query.length;i < len;i++){ %>
                            <%    %>
                            <tr class="blink">
                                <td class="col-xs-1 hide"><%= query[i].entryId %></td>
                                <td class="col-xs-1 reverse"><%= len - i %></td>
                                <td class="col-xs-5 "><%= query[i].question %></td>
                                <td class="col-xs-5 "><%= query[i].answer %></td>
                                <td class="btn-default btn-xs editbtn">Edit</td>
                                <td class="btn-default btn-xs deletebtn">Delete</td>


                            </tr>
                            <% }} %>

                            </tbody>
                        </table>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>


</body>
</html>


